body {background-color: lightblue;}

h2 {
  text-align:center;
  background-color: orange;
  color: green;
}

h3 {
  text-align:center;
  background-color: grey;
  color: blue;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
